/* body {
    font-family: Arial, sans-serif;
    background-color: rgb(46, 44, 40);
    background: linear-gradient(to right, #7f7f7f, #823800);
    color: #333;
    margin: 0;
    padding: 0px;
    height: 100vh;
} */

/* header {
    background-size: cover; 
    background-position: center; 
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
    padding: 10px; 
} */


/* .titulo {
    display: flex;
    margin: 3px;
    padding: 3px;
    border-radius: 10px;
    border: hidden rgb(0, 0, 0);
    color: darkgoldenrod;
    font-size: 40px;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
} */


/* nav {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border: #333;
}

nav a {
    display: flex;
    color: black;
    text-decoration: none;
    border: solid 1px;
    padding: 10px 15px;
    margin: 30px;
    border-radius: 15px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: darkgoldenrod;
    transition: ease;
} */



/* .contenedor-inicio {
    display: flex;
    justify-content: center;
}

.entrena {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: darkgoldenrod;
    border: #000 hidden;
    border-radius: 30px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-image: url(ven-entrena.jpg);
    height: 400px;
    width: 1500px;  
}


.contenedor-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer { 
    display: flex;
    justify-content: center;
    background: dimgray; 
    color: #ffffff;  
    padding: 10px;  
    position: relative;
    margin-top: 10px; 
    border-radius: 20px;
    width: 1000px; 
} */



body { 
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url(xd.jpg);
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el espacio */
}

nav {

    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 0 5px;
}
    
nav a{
    display: flex;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
    color: #fefefe;
    font-family: 'Roboto';
    font-size: 16px;
    transition: color 0.3s ease;
    transition: transform 0.4s;
}
nav a:hover {
    color: darkgoldenrod;
    transform: scale(1.1)
}

main {
    margin-top: 60px;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}

.contenedor-redes {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center ;
    gap: 40px; /* Espacio entre los iconos */
}

.facebook-icono img {
    width: 5vh; /* Tamaño de los iconos */
    height: 5vh; /* Tamaño de los iconos */
    transition: transform 0.4s;
}

.facebook-icono:hover img {
    transform: scale(1.1); /* Aumentar tamaño al pasar el mouse */
}

.instagram-icono img {
    width: 5vh; /* Tamaño de los iconos */
    height: 5vh; /* Tamaño de los iconos */
    transition: transform 0.4s;
}

.instagram-icono:hover img {
    transform: scale(1.1); /* Aumentar tamaño al pasar el mouse */
}
 
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.titulo-grande {
    margin-bottom: 0px;
}
.titulo-pequeño {
    margin-top: 0px;
}
.titulo {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 0px;
    font-size: 50px;
    font-family: 'Montserrat';
    color: #c18825;
    text-shadow: 10px 8px 4px rgba(0, 0, 0, 0.5);
}
.titulo-grande {
    margin-bottom: 0px;
}
.titulo-pequeño {
    margin-top: 0px;
}
.registro {
    width: 20%;
    background-color: #3b3a3a;
    border: none;
    color: #c18825;
    padding: 10px 20px; /* Cambia el espaciado interno a una unidad relativa */
    text-align: center;
    text-decoration: none;
    font-size: 1.5em; /* Cambia el tamaño de fuente a una unidad relativa */
    font-family: 'Roboto';
    margin: 2vh 1vw; /* Cambia el margen a una unidad relativa */
    cursor: pointer;
    border-radius: 12px;
}

/* Media queries para ajustar el tamaño del botón según la pantalla */
@media (max-width: 768px) {
    .registro {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .registro {
    
        font-size: 1em;
    }
}
/* Agregamos una media query para pantallas más grandes */
@media (min-width: 1200px) {
    .registro {
        font-size: 0.5em;
    }
}
.registro:hover {
    background-color: #e2e2e2; /* Color de fondo al pasar el ratón */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra al pasar el ratón */
    transition: ease 0.6s;
}

.registro:active {
    background-color: #101110; /* Color de fondo al hacer clic */
    box-shadow: 0 5px #666; /* Sombra al hacer clic */
}


.cuenta-creada {  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
    .cuenta-creada {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .cuenta-creada {
        font-size: 1em;
    }
}
/* Agregamos una media query para pantallas más grandes */
@media (min-width: 1200px) {
    .cuenta-creada {
        font-size: 0.5em;
    }
}

/* boton de inicio de sesion*/

.inicia-sesion {
    width: 30%; /* Cambia el ancho a una unidad relativa */
    background-color: #3b3a3a;
    border: none;
    color: #c18825;
    padding: 10px 20px; /* Cambia el espaciado interno a una unidad relativa */
    text-align: center;
    text-decoration: none;
    font-size: 0.5em; /* Cambia el tamaño de fuente a una unidad relativa */
    font-family: 'Roboto';
    margin: 2vh 1vw; /* Cambia el margen a una unidad relativa */
    cursor: pointer;
    border-radius: 12px;
}
@media (max-width: 768px) {
    .inicia-sesion {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .inicia-sesion {
        font-size: 1em;
    }
}
/* Agregamos una media query para pantallas más grandes */
@media (min-width: 1200px) {
    .inicia-sesion {
        font-size: 0.5em;
    }
}
.inicia-sesion:hover {
    background-color: #e2e2e2; 
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2); 
    transition: ease 0.6s;
}

.inicia-sesion:active {
    background-color: #101110; /* Color de fondo al hacer clic */
    box-shadow: 0 5px #666; /* Sombra al hacer clic */
}